<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <body th:fragment="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand nav-item" id="home" data-to="/overview/index" data-id="1" data-title="首页">House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li  class="nav-item" id="mine" data-to="/mine/index" data-id="2" data-title="我的">
                    <a class="nav-link" href="#">我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">转租</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">美食</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">论坛</a>
                </li>
                <li class="nav-item dropdown" th:if="${@resourceService.isRl('/houseManage')}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        公寓管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">房屋管理</a>
                        <a class="dropdown-item" href="#">美食管理</a>
                        <a class="dropdown-item" href="#">报修管理</a>
                        <a class="dropdown-item" href="#">论坛监测</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
            <div style="float: left">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
        </div>
    </nav>
    </body>
</html>