<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <body th:fragment="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand nav-item" id="home" data-to="/overview/index" data-id="1" data-title="首页">House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li  class="nav-item" id="mine" data-to="/mine/index" data-id="2" data-title="我的">
                    <a class="nav-link" href="#">我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">转租</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">美食</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">论坛</a>
                </li>
                <li class="nav-item dropdown" th:if="${@resourceService.isRl('/houseManage')}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        公寓管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">房屋管理</a>
                        <a class="dropdown-item" href="#">美食管理</a>
                        <a class="dropdown-item" href="#">报修管理</a>
                        <a class="dropdown-item" href="#">论坛监测</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
            <!--登陆成功-->
            <div style="float: left;padding: 0 10px" th:if="${@baseService.getUserId() != null}">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#logoutModal">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true" style="font-size: 17px"></span> 退出登陆
                </button>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="logoutModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">您确定要退出登陆吗？</h4>
                            </div>
                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="logout()">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--未登陆-->
            <div style="float: left;padding: 0 10px" th:if="${@baseService.getUserId() == null}">
                <button type="button" class="btn btn-outline-primary nav-item" data-to="/mine/index">
                    <span class="glyphicon glyphicon-log-in" style="font-size: 17px"></span> 立即登陆
                </button>
            </div>
            <input type="hidden" id="respStatus" th:if="${ServerResponse != null}" th:value="${ServerResponse.status}">
            <input type="hidden" id="respMsg" th:if="${ServerResponse != null}" th:value="${ServerResponse.msg}">
            <div th:replace="common/toast::successToast"></div>
            <div th:replace="common/toast::errorToast"></div>
        </div>
    </nav>
    <script type="text/javascript">
        function logout() {
            function success() {
                let status = '200';
                let msg =  '退出登陆成功';
                toastInfo(status,msg);
                setTimeout(function () {
                    location.reload()
                },1000)
            }
            function error() {
                $('#errorToast').toast('show');
            }
            $.baseAjax("/logout","get","",success,error)
        }

        $().ready(function () {
            let status = $("#respStatus").val();
            let msg = $('#respMsg').val();
            if(status !== '' && status !== undefined && msg !== '' && msg !== undefined){
                toastInfo(status,msg);
            }
        })
    </script>
    </body>

</html>