<div id="houseManage" style="width: 100%; height: 900px; overflow: scroll; padding: 80px 30px"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="width: 100%; height: 30px; text-align: center; line-height: 25px; font-size: 40px; font-weight: bolder">修改商家信息</div>
    <form id="foodForm" style="margin-top: 20px" class="needs-validation" novalidate onsubmit="return false">
        <input id="fooId" type="hidden" th:value="${houseFood.id}">
        <div id="infoDiv">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="businessName">商家名称</label>
                    <input type="text" th:value="${houseFood.businessName}" class="form-control" id="businessName" name="businessName" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="businessLocation">商家位置</label>
                    <input type="text" th:value="${houseFood.businessLocation}" class="form-control" id="businessLocation" name="businessLocation" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="businessDistance">距公寓位置</label>
                    <input type="text" class="form-control" th:value="${houseFood.businessDistance}" id="businessDistance" name="businessDistance" required>
                    <div class="valid-feedback">
                        格式正确！
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="businessType">商家类型</label>
                    <select class="custom-select" id="businessType" name="businessType">
                        <option value="1" th:if="${houseFood.businessType == 1}" th:selected="selected">美食</option>
                        <option value="2" th:if="${houseFood.businessType == 2}" th:selected="selected">甜点饮品</option>
                        <option value="3" th:if="${houseFood.businessType == 3}" th:selected="selected">超市便利</option>
                        <option value="4" th:if="${houseFood.businessType == 4}" th:selected="selected">生鲜果蔬</option>
                        <option value="5" th:if="${houseFood.businessType == 5}" th:selected="selected">药品</option>
                    </select>
                    <div class="valid-feedback">
                        格式正确！
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="businessScore">商家评分</label>
                    <input type="text" th:value="${houseFood.businessScore}" class="form-control" id="businessScore" name="businessScore" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="saleCount">销售量</label>
                    <input type="text" th:value="${houseFood.saleCount}" class="form-control" id="saleCount" name="saleCount" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
            </div>

            <div class="form-row" th:each="discounts : ${houseFood.foodDiscounts}">
                <div class="col-md-5 mb-3">
                    <label for="foodName">商品名称</label>
                    <input type="text" th:value="${discounts.foodName}" class="form-control" id="foodName" name="foodName" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="money">售卖价格</label>
                    <input type="text" th:value="${discounts.money}" class="form-control" id="money" name="money" required>
                    <div class="valid-feedback">
                        格式正确!
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <button type="button" class="btn btn-warning" style="margin-top: 30px" th:onclick="'deleteDiscount(\'' + ${discounts.id}+ '\');'">删除该商品</button>
                </div>
            </div>
        </div>

        <div style="width: 100%; height: 40px; text-align: center; line-height: 40px; border: 1px solid yellowgreen; font-size: 25px; color:yellowgreen;cursor: pointer">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size: 20px;" onclick="appendDiscountInfo()">添加优惠信息</span>
        </div>


        <button class="btn btn-primary" type="submit" style="float: right; margin-top: 20px">提交</button>
        <button class="btn btn-info" type="button" style="float: right; margin-right: 15px; margin-top: 20px" onclick="manageFoodIndex()">返回</button>

    </form>

</div>

<script>
    
    $().ready(function () {
        Array.prototype.filter.call($(".needs-validation"), function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }else {
                    $(':submit').on('click',function(){
                        let fromJson = $('#foodForm').serializeArray();
                        let dataJson = {};
                        $.each(fromJson, function(index, field) {
                            dataJson[field.name] = field.value; //通过变量，将属性值，属性一起放到对象中
                        });
                        $.ajax({
                            url:"/manage/newFood",
                            type:"POST",
                            data: JSON.stringify(dataJson),
                            dataType: "json",
                            contentType:"application/json",
                            success:function(o){
                                toastInfo(o.status,o.msg);
                                manageHouseIndex();
                            }
                        });
                    });
                }
                form.classList.add('was-validated');
            }, false);
        });

    });
    
    function appendDiscountInfo() {
        $("#infoDiv").append("\n" +
            "        <div class=\"form-row\">\n" +
            "            <div class=\"col-md-6 mb-3\">\n" +
            "                <label for=\"foodName\">商品名称</label>\n" +
            "                <input type=\"text\" class=\"form-control\" id=\"foodName\" name=\"foodName\" required>\n" +
            "                <div class=\"valid-feedback\">\n" +
            "                    格式正确!\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <div class=\"col-md-6 mb-3\">\n" +
            "                <label for=\"money\">售卖价格</label>\n" +
            "                <input type=\"text\" class=\"form-control\" id=\"money\" name=\"money\" required>\n" +
            "                <div class=\"valid-feedback\">\n" +
            "                    格式正确!\n" +
            "                </div>\n" +
            "            </div>\n" +
            "        </div>")
    }

    function deleteDiscount(id) {
        function success(o) {
            toastInfo(o.status,o.msg);
            updateFoodWin($("#fooId").val());
        }
        function error() {}
        $.baseAjax("/manage/deleteDiscount","POST",{id:id},success,error);
    }
</script>