<div th:fragment="navigation" id="navigation" class="container" style="margin: 0" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row" style="margin: 20px 0 10px 0; text-align: center">
        <input type="hidden" id="roomLocation">
        <div class="col-xl-1" style="font-weight: bolder">位置 :</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="1">一单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="2">二单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="3">三单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="4">四单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="5">五单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="6">六单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="7">七单元</div>
        <div class="col-xl-1" data-type="roomLocation" data-target="8">八单元</div>
    </div>
    <div class="row" style="margin: 10px 0; text-align: center">
        <input type="hidden" id="roomPrice">
        <div class="col-xl-1" style="font-weight: bolder">租金 :</div>
        <div class="col-xl-1" data-type="roomPrice" data-target="1">0-1000</div>
        <div class="col-xl-2" data-type="roomPrice" data-target="2">1000-2000</div>
        <div class="col-xl-2" data-type="roomPrice" data-target="3">2000-5000</div>
        <div class="col-xl-1" data-type="roomPrice" data-target="4">5000~</div>
    </div>
    <div class="row" style="margin: 10px 0; text-align: center">
        <input type="hidden" id="roomType">
        <div class="col-xl-1" style="font-weight: bolder">房屋类型:</div>
        <div class="col-xl-1" data-type="roomType" data-target="1">普通房型</div>
        <div class="col-xl-1" data-type="roomType" data-target="2">豪华精装</div>
        <div class="col-xl-1" data-type="roomType" data-target="3">家庭套房</div>
    </div>
    <div class="row" style="margin: 10px 0; text-align: center">
        <input type="hidden" id="roomDirection">
        <div class="col-xl-1" style="font-weight: bolder">朝向:</div>
        <div class="col-xl-1" data-type="roomDirection" data-target="1">东</div>
        <div class="col-xl-1" data-type="roomDirection" data-target="2">南</div>
        <div class="col-xl-1" data-type="roomDirection" data-target="3">西</div>
        <div class="col-xl-1" data-type="roomDirection" data-target="4">北</div>
    </div>
</div>