<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="toast">
    开始演示模态框
</button>

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="min-width:160px;text-align: center;font-size: 20px;position: fixed;    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -59px;">
        <div class="alert alert-success" style="margin: 0">
             <strong> <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 17px"></span> 保存成功</strong>
        </div>
<!--        <div class="alert alert-danger" style="margin: 0">-->
<!--             <strong> <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 17px"></span> 保存失败</strong>-->
<!--        </div>-->
    </div>

<script>
    $(document).ready(function(){
        $("#toast").click(function(){
            $('.toast').toast('show');
        });
    });
</script>