<link rel="stylesheet" href="/static/css/mine/mine.css">
<div id="mine" class="mine" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" th:value="${user.userId}">
    <div id="userInfo" class="userInfo">
        <div th:replace="mine/mine-userInfo::userInfo"></div>
    </div>
    <div id="mineTab" class="mineTab">
        <ul class="list-group list-group-flush" style="text-align: center">
            <li class="list-group-item"><span id="rentingInfo" class="badge badge-pill badge-secondary mine-active" data-to="/mine/rentalDetails" onclick="changeActive(this.id);getActiveInfo(this)">租房详情</span></li>
            <li class="list-group-item"><span id="rePairInfo" data-to="/mine/repairInfo" onclick="changeActive(this.id);getActiveInfo(this)">报修信息</span></li>
            <li class="list-group-item"><span id="foodOrder" data-to="/mine/foodOrder" onclick="changeActive(this.id);getActiveInfo(this)">美食订单</span></li>
            <li class="list-group-item"><span id="myCollection" data-to="/mine/collection" onclick="changeActive(this.id);getActiveInfo(this)">我的收藏</span></li>
        </ul>
    </div>
    <div id="activePage" class="activePage"></div>
</div>
<script src="/static/js/mine/mine-support.js"></script>