<div id="rentalDetails" class="ContainerCss bageColor" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${houseRoom != null}">
        <div class="row" style="margin-top: 30px">
            <div class="col-md-8" style=" padding: 0 30px 20px 30px">
                <div class="row" style=" font-size: 20px; font-weight: bolder;">
                    <span th:if="${houseRoom.roomType == 1}">普通房型</span>
                    <span th:if="${houseRoom.roomType == 2}">豪华精装</span>
                    <span th:if="${houseRoom.roomType == 3}">家庭套房</span> &nbsp;/&nbsp;
                    <span th:if="${houseRoom.roomDirection == 1}">朝东</span>
                    <span th:if="${houseRoom.roomDirection == 2}">朝西</span>
                    <span th:if="${houseRoom.roomDirection == 3}">朝南</span>
                    <span th:if="${houseRoom.roomDirection == 4}">朝北</span>
                </div>
                <div class="row" style="margin-top: 10px">
                    <span th:text="  房屋维护时间：+${#dates.format(houseRoom.updateDate,'yyyy-MM-dd')}"/>
                </div>
            </div>
            <div class="col-md-4">
                投诉电话 ： 123456789
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-md-6">
                <img src="/static/image/house001.jpg" alt="房间图片" style="width: 100%; height: 300px">
            </div>
            <div class="col-md-6" style="border: solid 1px #f2f2f2; padding: 5px 10px">
                <div>
                    <span style="margin-left: 15px; color: red; font-weight: bolder; font-size: 35px" th:text="${houseRoom.roomPrice}"/>
                    <span style="margin-left: 5px;color: red; font-size: 15px; margin-top: 20px">元/月(季付价)</span>
                </div>
                <div>
                    <span class="badge badge-danger" style="margin-left: 15px;">优先好房</span>
                    <span class="badge badge-info" style="margin-left: 5px;">集中供暖</span>
                    <span class="badge badge-info" style="margin-left: 5px;">优先看房</span>
                </div>
                <div><hr></div>
                <div style="float: left; margin-left: 15px; width: 100%">
                    <span style="color: #95999c">房屋类型:</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomType == 1}">普通房型</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomType == 2}">豪华精装</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomType == 3}">家庭套房</span>
                    <br>

                    <span style="color: #95999c">房屋大小:</span>
                    <span style="margin-left: 5px" th:text="${houseRoom.roomSize}"/>m<sup>2</sup>
                    <br>
                    <span style="color: #95999c">房屋朝向:</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomDirection == 1}">东</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomDirection == 2}">西</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomDirection == 3}">南</span>
                    <span style="margin-left: 10px" th:if="${houseRoom.roomDirection == 4}">北</span>

                    <br>
                    <button type="button"  class="btn btn-info" style="float: right; margin: 60px 40px 0 0" onclick="applyRepairWin()">申请报修</button>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${houseRoom == null}" th:insert="/common/tips::tips"></div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $("#infoText").text("您暂时还未租房！")
    });

    function applyRepairWin() {
        function success(o) {
            $("#content").html(o);
        }
        function error() {}
        $.baseAjax("/mine/applyRepairWin","POST",{},success,error);
    }
</script>