<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>House</title>
    <link rel="Bookmark" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <script src="/static/js/common/jquery.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/index.js"></script>
    <div th:replace="common/top::top"></div>
    <div class="container-fluid content" id="content"></div>
</body>
</html>
