<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>LoveHouse</title>
    <link rel="Bookmark" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <div th:replace="common/top::top"></div>
    <div class="container-fluid" id="content"></div>
    <script src="/static/js/common/jquery.js"></script>
    <script src="/static/js/bootstrap/bootstrap.js"></script>
</body>
</html>
